Table	Create Table
system_user	CREATE TABLE `system_user` (\n  `id` bigint unsigned NOT NULL AUTO_INCREMENT COMMENT '用户ID（对应各类管理员编号，系统自动生成）',\n  `real_name` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '真实姓名（必填）',\n  `username` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '登录账号（内部使用）',\n  `password` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '登录密码（加密存储）',\n  `phone` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '联系电话',\n  `role` tinyint unsigned NOT NULL COMMENT '角色（1=客服, 2=调度中心, 3=分站管理员, 4=中心库管, 5=分站库管, 6=配送中心, 7=财务, 8=超管）',\n  `dept_id` bigint unsigned DEFAULT NULL COMMENT '所属部门/站点ID（关联WAREHOUSE或部门表）',\n  `status` tinyint unsigned NOT NULL DEFAULT '1' COMMENT '状态（1=在职，2=离职）',\n  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',\n  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',\n  `del_flag` tinyint unsigned NOT NULL DEFAULT '0' COMMENT '逻辑删除（0=正常，1=删除）',\n  PRIMARY KEY (`id`),\n  UNIQUE KEY `uk_username` (`username`),\n  KEY `idx_role` (`role`),\n  KEY `idx_dept_id` (`dept_id`)\n) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='系统用户表'
